:root {
    --background-color: #F8F8F8;
    --background-color-aside: #835AFD;
    --background-color-question: #F4F0FF;
    --background-color-question-answered: #DBDCDD;
    --background-input: #FFF;
    --color-switch-light-dark: #A8A8B3;
    --color-strong: #FFF;
    --color-paragraph: #737380;
    --color-h: #29292e;
    --color-input: #333;
    --color-separator: #A8A8B3;
    --color-like-button: #835afd;
}

.dark-mode {
    --background-color: #0A043C;
    --background-color-aside: #6245ba;
    --background-color-question: #6245ba;
    --background-color-question-answered: rgba(82, 82, 82, 0.733);
    --color-switch-light-dark: #FFA500;
    --background-input: #16213E;
    --color-paragraph: #F8F8F8;
    --color-h: #F8F8F8;
    --color-input: #F8F8F8;
    --color-span: #BBE1FA;
    --color-like-button: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: #29292e;
}

body,
input,
body,
textarea {
    font: 400 16px 'Roboto', sans-serif;
}

@media (max-width: 770px) {
    body {
        #page-auth {
            display: block;

            aside {
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                padding: 0.5rem;
                margin-bottom: 5rem;

                img {
                    width: 4rem;
                }

                div {
                    z-index: 1;
                }

                strong {
                    font: 700 1.262rem 'Poppins', sans-serif;
                    margin-top: 0;
                }

                p {
                    display: none;
                }
            }
        }

        #page-room {
            header {
                background: #835afd;

                .content {
                    gap: .7rem;

                    div {
                        gap: 0.2rem;
                        align-items: center;

                        .button {
                            width: 3rem;
                            border: 1px solid #835afd;
                        }
                    }
                    .room-code {
                        max-width: 11rem;
                        border-color: #fff;

                        span {
                            font-size: 0.69rem;
                            padding: 0 0.1rem;
                        }
                    }
                }
            }

            .question:last-child {
                margin-bottom: 1rem;
            }
        }

        main {
            width: 95vw;
            margin: 0 auto;

            >.test-switch {
                // align-self: flex-start;
                position: absolute;
                right: 1rem;
                top: 7rem !important;
            }

            .room-title {
                justify-content: space-between;

                h1 {
                    font-size: 1.3rem !important;
                }
            }

            form .form-footer .button {
                height: 2.5rem;
                padding: 0 1rem;
                transition: transform 0.2s;

                &:active {
                    transform: scale(.9);
                }
            }

            .empty-question-list {
                display: flex;
                flex-direction: column;
                align-items: center;

                &>:first-child {
                    margin-top: 1rem !important;
                    font-size: 7rem !important;
                }
            }
        }
    }
}