:root {
    --background-color: #F8F8F8;
    --background-color-aside: #835AFD;
    --color-strong: #FFF;
    --color-paragraph: #737380;
    --color-h2: #000;
    --background-input: #FFF;
    --color-input: #333;
    // --color-span: #737380;
    --color-separator: #A8A8B3;
}

.dark-mode {
    --background-color: #0A043C;
    --background-color-aside: #6245ba;
    // --color-strong: #FFF;
    --color-paragraph: #F8F8F8;
    --color-h2: #F8F8F8;
    --background-input: #16213E;
    --color-input: #F8F8F8;
    --color-span: #BBE1FA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: #29292e;
}

body,
input,
body,
textarea {
    font: 400 16px 'Roboto', sans-serif;
}

@media (max-width: 770px) {
    body {
        #page-auth {
            display: block;

            aside {
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                padding: 0.5rem;
                margin-bottom: 5rem;

                img {
                    width: 4rem;
                }

                div {
                    z-index: 1;
                }

                strong {
                    font: 700 1.262rem 'Poppins', sans-serif;
                    margin-top: 0;
                }

                p {
                    display: none;
                }
            }
        }

        #page-room {
            header {
                background: #835afd;

                .content {
                    gap: .7rem;

                    div {
                        gap: 0.2rem;

                        .room-code {
                            width: 13rem;
                            border-color: #fff;

                            span {
                                padding: 0 0.2rem;
                            }
                        }

                        .button {
                            width: 3.5rem;
                            align-self: flex-end;
                            border: 1px solid #835afd;
                        }
                    }
                }
            }

            .question:last-child {
                margin-bottom: 1rem;
            }
        }

        main {
            width: 95vw;
            margin: 0 auto;

            .room-title {
                justify-content: space-between;

                h1 {
                    font-size: 1.3rem !important;
                }
            }

            form .form-footer .button {
                height: 2.5rem;
                padding: 0 1rem;
                transition: transform 0.2s;

                &:active {
                    transform: scale(.9);
                }
            }
        }
    }
}