.test-switch>* {
    cursor: pointer;
    transition: .3s;
}

.test-switch>*:hover {
    filter: brightness(0.8)
}
.test-switch>*:active {
    transform: scale(.5);
}
.dark-on {
    color:  #ffa500;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 1.5rem 15px #FFA500;
}

.light-on {
    color: #A8A8B3
}